

.search-icon {
    font-size: 1.5em;
    width: 1em;
    height: 1em;


    position: relative;
}

.search-icon:before {
    content: "";
    width: .8em;
    height: .8em;

    position: absolute;

    border: .12em solid #575757;
    border-radius: 50%;

}

.search-icon:after {
    content: "";

    position: absolute;
    height: .1em;
    width: .35em;
    background: #575757;

    right: 0;
    bottom: 0;
    transform: rotate(45deg) translate(-50%, -50%);
}
